#contents {
    div.sec-2 {
        .committee {
            aside .list .group {
                div.pic1 {
                    background-image: url("../Pic/1.jpg");
                    // background-color: red;
                }
                div.pic2 {
                    background-image: url("../Pic/2.jpg");
                    // background-color: blue;
                }
                div.pic3 {
                    background-image: url("../Pic/3.jpg");
                    // background-color: green;
                }
                div.pic4 {
                    background-image: url("../Pic/1.jpg");
                    // background-color: yellow;
                }
                div.pic5 {
                    background-image: url("../Pic/2.jpg");
                    // background-color: pink;
                }
                div.pic6 {
                    background-image: url("../Pic/3.jpg");
                    // background-color: red;
                }
                div.pic7 {
                    background-image: url("../Pic/1.jpg");
                    // background-color: red;
                }
                div.pic8 {
                    background-image: url("../Pic/2.jpg");
                    // background-color: red;
                }
                div.pic9 {
                    background-image: url("../Pic/3.jpg");
                    // background-color: red;
                }
                div.pic10 {
                    background-image: url("../Pic/1.jpg");
                    // background-color: red;
                }
                div.pic11 {
                    background-image: url("../Pic/2.jpg");
                    // background-color: red;
                }
                div.pic12 {
                    background-image: url("../Pic/3.jpg");
                    // background-color: red;
                }
                div.pic13 {
                    background-image: url("../Pic/1.jpg");
                    // background-color: red;
                }
                div.pic14 {
                    background-image: url("../Pic/2.jpg");
                    // background-color: red;
                }
                div.pic15 {
                    background-image: url("../Pic/3.jpg");
                    // background-color: red;
                }
                div.pic16 {
                    background-image: url("../Pic/1.jpg");
                    // background-color: red;
                }
                div.pic17 {
                    background-image: url("../Pic/2.jpg");
                    // background-color: red;
                }
                div.pic18 {
                    background-image: url("../Pic/3.jpg");
                    // background-color: red;
                }
                div.pic19 {
                    background-image: url("../Pic/1.jpg");
                    // background-color: red;
                }
                div.pic20 {
                    background-image: url("../Pic/2.jpg");
                    // background-color: red;
                }
                div.pic21 {
                    background-image: url("../Pic/3.jpg");
                    // background-color: red;
                }
                div.pic22 {
                    background-image: url("../Pic/1.jpg");
                    // background-color: red;
                }
                div.pic23 {
                    background-image: url("../Pic/2.jpg");
                    // background-color: red;
                }
                div.pic24 {
                    background-image: url("../Pic/3.jpg");
                    // background-color: red;
                }
                div.pic25 {
                    background-image: url("../Pic/1.jpg");
                    // background-color: red;
                }
                div.pic26 {
                    background-image: url("../Pic/2.jpg");
                    // background-color: red;
                }
                div.pic27 {
                    background-image: url("../Pic/3.jpg");
                    // background-color: red;
                }
                div.pic28 {
                    background-image: url("../Pic/1.jpg");
                    // background-color: red;
                }
                div.pic29 {
                    background-image: url("../Pic/2.jpg");
                    // background-color: red;
                }
                
                div.pic30 {
                    background-image: url("../Pic/3.jpg");
                    // background-color: red;
                }

            }
        }
    }
}