* {

    box-sizing: border-box;
    margin: 0;
    // font-size: 1rem;
    padding: 0;
    scroll-behavior: smooth;

    .mr-auto {
        margin-right: auto !important;
    }

    .ml-auto {
        margin-left: auto !important;
    }
    .v-h {
        visibility: hidden;
    }
    .text-light {
        color: #fff;
    }

    .d-flex {
        display: flex !important;
    }

    .d-none {
        display: none !important;
    }

    .d-grid {
        display: grid;
    }

    .ore {
        color: #fb9931 !important;
    }

    a {
        color: #fff;
        cursor: pointer;
        text-decoration: none !important;
    }

    .mt-2 {
        margin-top: 1rem;
    }

    div {
        width: 100%;
    }

    .container {
        width: 100%;
        max-width: 1230px;
        margin: auto;
    }

    .active {
        a {
            color: #fb9931 !important;
        }
    }

    .neon-btn {
        background: transparent;
        border: 2px solid #fb9931;
        border-radius: 50px;
        font-size: .95rem;
        padding: 0 15px !important;
        transition-timing-function: ease;
        transition-property: background;
        transition-duration: 300ms;
    }

    .neon-btn:hover {
        background-color: #fb9931;
    }

    hr.underline {
        width: 110px;
        margin: auto;
        height: 2.5px;
        background-color: #fb9931;
        border: none;
        margin-top: 2.5px;
    }

    h1.article-heading {
        color: #181818;
        text-align: center;
        font-size: 1.3rem;
        font-weight: lighter;
        text-transform: uppercase;
        letter-spacing: .3rem;
        text-shadow: 0px 1px 2px #181818;
    }

    h2.sub-heading {
        font-weight: lighter;
        color: #2c2c2c;
        font-size: 1.3rem;
    }

    .box-shadow {
        box-shadow: 3px 3px 12px 0px #9caacb30;
    }

    @media screen and (max-width: 510px) {}

}

body {
    // font-family: 'Roboto', sans-serif;
    font-family: "Poppins", sans-serif;
    // filter: blur(5000px);
    // animation: blur 10s ease infinite;
    background-color: #f3f5fa;
}

::-webkit-scrollbar {
    background-color: rgba(220, 220, 220, 0.721);
    width: 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 5.5px rgba(0, 0, 0, 0.455);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    /* background: linear-gradient(rgb(138, 138, 138), rgb(130, 129, 129)); */
    //   background: rgb(220, 20, 60, 0.7);
    background-color: #181818;
}

::-webkit-scrollbar-button {
    height: 0;
}


#navbar {

    background-color: #181818;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 0px 10px 100px #1f1f1ff1;

    z-index: 999;

    >.container {
        display: flex;
        align-items: center;
        position: relative;

        div.logo {
            display: flex;
            // flex: 1;
            align-items: center;

            >a {
                display: grid;
                place-items: center;
            }

            img {
                // width: 80px;
                height: 55px;
                filter: drop-shadow(1px 4px 5px rgba(0, 0, 0, 0.6));
            }

            h1 {
                text-transform: uppercase;
                font-size: 2.1rem;
                text-shadow: 5px 1px 5px rgba(0, 0, 0, .6);
                line-height: 20px;
                // font-family: 'Ubuntu', sans-serif;
                margin-left: .7rem;
                // margin-top: 7px;
                // text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.6);
            }

        }

        div.menu {
            flex: 1;
            transition-timing-function: ease;
            transition-property: opacity, display;
            transition-duration: 200ms;
            display: flex;
            justify-content: flex-end;

            ul {
                list-style: none;
                display: flex;

                li {
                    margin: 0 .3rem;
                    font-size: 1rem;
                    text-transform: capitalize;
                    // font-weight: 600;
                    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);

                    >a {
                        padding: 0 .3rem;
                        height: 40px;
                        display: grid;
                        place-items: center;
                    }
                }

                li.link {
                    // background-color: red;
                    // align-items: center;
                    display: grid;
                    place-items: center;

                    a {
                        height: 40px;
                        position: relative;
                        // background-color: green;

                    }

                    a::after {
                        content: "";
                        position: absolute;
                        height: 2px;
                        width: 0;
                        bottom: 1px;
                        transition: width .3s ease;
                        display: block;
                        background-color: #fb9931;
                    }

                    a:hover::after {
                        width: 100%;
                    }
                }
            }
        }

        .menu-bar {
            display: none;
            font-size: 1.4rem;
        }

        .menu-o {
            cursor: pointer;
            display: none;
        }

        .menu-o.fa-times {
            color: #fff;
            position: fixed;
            top: 20px;
            right: 20px;
            font-size: 1.2rem;
        }

        @media screen and (max-width: 1100px) {
            div.menu.show {
                display: grid;
                opacity: 1;

            }

            div.menu.hide {
                display: none;
                opacity: 0;

            }

            div.menu {
                // opacity: 0;
                position: fixed;
                border-radius: 20px;
                box-shadow: 0px 0px 120px 50px #fff;
                display: grid;
                justify-content: unset;
                padding: 4rem;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                padding: 3rem 0;
                margin: 0;
                width: calc(100vw - 50px);
                // height: calc(100vh - 50px);
                background-color: #181818;
                place-items: center;

                ul {
                    display: grid;
                    width: calc(100% - 4rem);
                    max-width: 500px;
                    margin: auto;
                    grid-gap: 1rem;

                    li {
                        width: 100%;
                        margin: 0;

                        a {
                            width: unset;
                            padding: 0 1rem;
                        }
                    }

                }
            }

            .menu-bar {
                margin-right: .8rem;
                display: block;
            }

            .menu-o {
                display: block;
            }

            .menu-o.fa-times {
                color: #fff;
            }

            div.logo {
                margin-left: .8rem;
                flex: 1;

                h1 {
                    transform: translateX(-50%);
                    left: 50%;
                    margin: 0;
                    position: absolute;
                    text-align: center;
                }
            }

        }
    }
}


#header {
    // min-height: ;
    height: 100vh;
    max-height: 600px;
    background-color: transparent;
    display: flex;
    position: relative;
    align-items: center;

    // box-shadow:  0px 0px 5px 0 #00000014;
    // 2px 1px 16px 0 #00000030

    .header_bg {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;

        div {
            width: 100%;
            height: 100%;
            position: absolute;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center !important;
            //   background-blend-mode: screen;
            // filter: grayscale(.8);
            opacity: 0;
            transition: opacity 1s ease;
        }

        div.active {
            opacity: 1;
        }

        div::after {
            width: 100%;
            height: 100%;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            // background-image: linear-gradient(30deg, black -40%, transparent);

            // opacity: .5;
            // background-image: linear-gradient(#17223e4a, #16223e44);
            // background-image: linear-gradient(#0e1832, #0e1832);
            background-image: linear-gradient(#1e28413b, #1e28413d);
        }

        div:first-child {
            background: linear-gradient(to bottom,
                    rgba(0, 0, 0, 0.836),
                    rgba(0, 0, 0, 0.374)),
                url("../Images/homeschooling-min.jpg");
        }

        div:nth-child(2) {
            background: linear-gradient(to bottom,
                    rgba(0, 0, 0, 0.836),
                    rgba(0, 0, 0, 0.374)),
                url("../Images/three-min.jpeg");
        }

        div:last-child {
            background-image: url("../Images/four.jpg");
            // linear-gradient(to bottom,rgba(0, 0, 0, 0.836),rgba(0, 0, 0, 0.374)),
        }
    }

    .container {
        text-align: center;
        // font-family: 'Roboto', sans-serif;
        max-width: 900px;
        padding: 0 2rem;
        color: #fff;
        // background-color: rgba(255, 255, 255, 0.486);
        z-index: 99;
        // background-color: red;

        // text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
        text-shadow: 2px 1px 2px black;

        .p-1 {
            font-size: 1.3rem;
            // max-width: 700px;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            padding: 0 2rem;
            margin: auto;
            font-family: 'Ubuntu';
            color: #fff;
        }

        .p-2 {
            font-size: 1.1rem;
        }



        section {
            font-size: 1.2rem;
            text-transform: capitalize;

            img {
                height: 180px;
                filter: drop-shadow(1px 4px 5px rgba(0, 0, 0, 0.6));

            }

            h1 {
                font-size: 3rem;
                text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
                color: #6e87aa;

                // font-family: 'Ubuntu', sans-serif;
            }

            >small {
                text-decoration: underline;
            }
        }

        @media screen and (max-width: 510px) {
            .p-1 {
                padding: 0 !important;
                font-size: 1.2rem;
            }

            .p-2 {
                font-size: 1rem;
            }

            section {
                font-size: 1.1rem;

                img {
                    height: 180px;
                }

                h1 {
                    font-size: 2.9rem;
                }
            }
        }

        @media screen and (max-width: 430px) {
            padding: 0 !important;

            .p-3 {
                padding: 0 1rem;
            }
        }
    }
}



#contents {
    padding: 8rem 0 6rem 0;

    >.container {
        display: grid;
        grid-gap: 4rem;
        padding: 0 2rem;

        >div {
            display: flex;
            justify-content: center;
            align-items: center;

            // min-height: 400px;
            // background-color: #fb9931;
            article {
                background-color: snow;
                // border-radius: 0 0 50px 50px;
                padding: 3rem 0 4rem 0;

                // text-align: center;

                p {
                    color: #181818;
                    // max-width: 900px;
                    padding: 0 3rem;
                    text-align: justify;
                    letter-spacing: .06rem;
                    line-height: 1.6rem;
                    font-size: 1.06rem;
                    margin-top: 2rem;
                }
            }
        }

        .conf-committee {
            padding: 0 3rem;
            margin-top: 2rem;
            display: grid;
            // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

            grid-template-columns: repeat(2, 1fr);
            // grid-template-rows: repeat(3, 50px);
            grid-gap: 1rem;

            >div {
                height: fit-content;
                // border: 1px solid #181818;
            }

            >div:nth-child(2) {
                grid-area: 2, -1/1;
            }

            >div:nth-child(3) {
                grid-area: 1/2;
            }

            p {
                padding: 0 1.2rem;
                text-align: left;
                margin-top: unset;
            }
        }

        @media screen and (max-width: 800px) {
            .conf-committee {
                grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

                >div:nth-child(2),
                >div:nth-child(3) {
                    grid-area: unset;
                }
            }
        }

        @media screen and (max-width: 510px) {
            padding: 0 10px;

            >div article p,
            .conf-committee {
                padding: 0 1.7rem;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                font-size: 1.01rem;
            }
        }

    }

    @media screen and (max-width: 540px) {
        article {
            h1 {
                font-size: 1.15rem !important;
            }
        }
    }

    div.sec-2 {
        margin-top: 4rem;

        .topic_of_int {
            background-color: #c5a17a17;
            padding: 4rem 2rem;

            .container {
                article {
                    background-color: snow;
                    padding: 3rem 0 4rem 0;

                    p {
                        color: #181818;
                        // max-width: 900px;
                        padding: 0 3rem;
                        text-align: justify;
                        letter-spacing: .06rem;
                        line-height: 1.6rem;
                        font-size: 1.06rem;
                        margin-top: 2rem;
                    }
                }

                .list {
                    display: grid;
                    grid-gap: 2rem;
                    text-align: left;
                    margin-top: 2rem;
                    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

                    color: #181818;
                    // max-width: 900px;
                    // padding: 0 3rem;
                    letter-spacing: .06rem;
                    line-height: 1.6rem;
                    font-size: 1.06rem;

                    // grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
                    div.d-grid {
                        grid-gap: 2rem;
                    }

                    .group {
                        // display: grid;
                        // grid-gap: 1rem;
                        background-color: snow;
                        padding: 2rem;
                        border-radius: 0 0 40px 40px;

                        border-top: 2px solid #fb9931;

                        // border: 3px #fb9931;
                        // border-style: solid none;

                        ul {
                            list-style: circle;
                            margin-top: 1.2rem;
                            padding-left: 1.5rem;
                        }
                    }
                }
            }

            @media screen and (max-width: 510px) {
                padding: 4rem 10px;

                .container {
                    article p {
                        padding: 0 1.7rem;
                        font-size: 1.01rem;
                    }

                    .list {
                        .group {
                            padding: 1.7rem;
                            font-size: 1.01rem;
                        }
                    }
                }
            }
        }

        .committee {
            background-color: #b6d3e138;
            padding-top: 8rem !important;
            padding: 2rem;

            .container {
                // display: grid !important;
                // grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
                // color: #181818;
                // grid-gap: 2rem;

                letter-spacing: .06rem;
                line-height: 1.6rem;
                font-size: 1.06rem;

                // h2 {
                //     font-weight: lighter;
                //     color: #2c2c2c;
                //     font-size: 1.3rem;
                // }

                // p {
                //     margin-top: .5rem;
                // }

                // >div,
                aside {
                    // background-color: snow;
                    padding: 0;

                    // border-top: 2px solid #fb9931;
                    border-radius: 0 0 20px 20px;
                    
                    .list {
                        display: grid;
                        margin-top: 3rem;
                        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                        grid-gap: 1rem;
                        .group {
                            background-color: #fff;
                            // text-align: ;
                            display: flex;
                            padding: 1.2rem .7rem;
                            .pic {
                                filter: drop-shadow(0px 3px 10px black);
                                min-height: 100px;
                                width: 100px;
                                min-width: 100px !important;
                                margin: 0 .9rem;
                                // background-color: red;
                                // border-radius: 50%;
                                background-repeat: no-repeat;
                                background-size: auto 100% !important;
                                background-position: center !important;
                            }
                        }
                    }
                }

                // div {
                //     p {
                //         margin-left: .5rem;
                //     }
                // }

                // >aside {
                //     p {
                //         // background-color: red;
                //         // height: 350px;
                //         // overflow-y: auto;
                //         padding: 1rem 1.5rem;
                //         // box-shadow: inset 3px 3px 12px 0px #9caacb30;

                //         font-size: 1rem;
                //         margin-top: 1rem;
                //     }
                // }
            }

            @media screen and (max-width: 510px) {
                padding: 0 10px;
            }
        }

        .important-date {
            margin-top: 8rem !important;
            margin-bottom: 4rem;

            .container {
                padding: 0 2rem;

                .list {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                    justify-items: center;

                    color: #181818;
                    grid-gap: 2rem;
                    margin-top: 3.5rem;

                    letter-spacing: .06rem;
                    line-height: 1.6rem;
                    font-size: 1.06rem;

                    .group {
                        background-color: snow;
                        padding: 3rem 2rem;
                        // border-top: 2px solid #fb9931;
                        border-radius: 40px;
                        max-width: 450px;
                        // border: 3px #fb9931;
                        // border-style: solid none;


                        i {
                            font-size: 5rem;
                            margin-bottom: 1rem;
                        }

                        // h2 {
                        //     font-weight: lighter;
                        //     color: #2c2c2c;
                        //     font-size: 1.3rem;
                        // }

                        p {
                            margin-top: .5rem;
                            font-size: .98rem;
                        }
                    }


                }
            }

            @media screen and (min-width: 540px) {
                max-width: 1020px;
                margin: auto;
            }
        }

        #registration {
            background-color: #f2f2f3a1;
            padding: 4rem 2rem;
            padding-top: 8rem;

            .container {
                >div {
                    // background-color: snow;
                    margin-top: 4rem;
                    display: grid;
                    grid-gap: 2rem;
                    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));

                    section {
                        background-color: rgb(255, 250, 250);
                        padding: 2rem;
                        border-radius: 0 0 40px 40px;
                        border-top: 2px solid #fb9931;

                        table {
                            width: 100%;
                            margin-top: 0;

                            tr {
                                text-align: left;
                                display: flex;
                                align-items: center;
                                border-bottom: 1px solid #f2f2f3;

                                td {
                                    padding: .65rem 0;
                                    flex: 1;
                                }

                                td:first-child {
                                    margin-right: 10px;
                                }
                            }
                        }

                        .table-1 {
                            margin-top: 2rem;

                            td:nth-child(2),
                            td:last-child {
                                max-width: 145px;
                                min-width: 135px;
                            }
                        }

                        p.caption {
                            color: #181818;
                            // max-width: 900px;
                            // padding: 0 3rem;
                            text-align: justify;
                            letter-spacing: .06rem;
                            line-height: 1.6rem;
                            font-size: 1.06rem;
                            margin-top: 2rem;
                        }

                        p.note {
                            color: black;
                            // max-width: 900px;
                            // padding: 0 3rem;
                            text-align: justify;
                            letter-spacing: .06rem;
                            line-height: 1.6rem;
                            font-size: 1.06rem;
                            margin-top: 2rem;
                        }
                    }
                }
            }

            @media screen and (max-width: 570px) {
                .container {
                    >div {
                        grid-template-columns: 1fr;

                        .table-1 {
                            tr {

                                td:nth-child(2),
                                td:last-child {
                                    min-width: unset !important;
                                    max-width: 110px !important;
                                }
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 501px) {
                padding: 4rem 1rem;

                section {
                    padding: 2rem 1.3rem !important;
                }
            }

            @media screen and (max-width: 450px) {
                padding: 4rem 8px;
            }
        }
        .awards {
            padding: 1rem 2rem;
            font-size: 1.06rem;

            .container {
                background-color: snow;
                padding: 3rem 2rem;
                // border: 3px #fb9931;
                margin-top: 5rem;
                margin-bottom: 3rem;

                ul {
                    list-style: none;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                    li {
                        padding: 2rem;
                        padding-bottom: 0;
                    }
                }
            }
        }
        .contact {
            margin: 8rem 0 3rem 0;
            .container {
            padding: 2rem;

                .ground {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                    grid-gap: 2.5rem;
                    margin-top: 3rem;
                    place-items: center;
                    letter-spacing: .06rem;
                    line-height: 1.6rem;
                    color: #181818;
                    > div {
                        max-width: 450px;
                        border: 3px solid #f99123;
                        padding: 1.6rem 2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        box-shadow: inset 2px 2px 10px #f99123;
                        p {
                            font-size: 1.1rem;
                            margin-left: 1rem;
                            a {
                                color: inherit;
                            }
                        }
                        i {
                            font-size: 3rem;
                            padding: .4rem 0;
                        }
                    }
                }
            }
        }
        .proceeding {
            padding: 1rem 2rem;

            .container {
                background-color: snow;
                padding: 3rem 2rem;
                // border: 3px #fb9931;
                margin-top: 5rem;
                margin-bottom: 3rem;
                // border-style: solid none;

                p {
                    color: #181818;
                    margin: auto;
                    text-align: center;
                    letter-spacing: .06rem;
                    line-height: 1.6rem;
                    font-size: 1.06rem;
                    margin-top: 2rem;
                }
            }

            @media screen and (max-width: 510px) {
                padding: 0 10px;

                .container {
                    padding: 3rem 1.3rem;
                }
            }

        }


    }


}

footer {
    // border-top: 2px solid #fb9931;
    border-radius: 30px 30px 0 0;
    padding: 3rem 1rem;
    color: #181818;
    background-color: #fff;
    // box-shadow: inset 0px -10px 12px 0px #3e414730;

    // box-shadow: 3px 3px 12px 0px #1818181a;
    // box-shadow: inset 0 3px 10px 0px #1818181a;
    box-shadow: 0px 35px 55px 0px #181818;

    a {

        color: #181818;
    }

    .container {
        display: flex;
        position: relative;
        #venue {
            padding: .5rem 0;
            font-size: 1.09rem;
            >b b {
                animation: zig 1s infinite ease;
            }

            @keyframes zig {
                0% {
                    color: #181818;
                }
                2% {
                    color: #181818;
                }
                3% {
                    color: crimson;
                }
                45% {
                    color: crimson;
                }
                46% {
                    color: green;
                }
                85% {
                    color: green;
                }
                86% {
                    color: #181818;
                }
                99% {
                    color: #181818;
                }
            }
        }

        section {
            line-height: 1.6rem;
            flex: 1;
            margin: 0 1.4rem;

            header {
                font-size: 1.2rem;
            }

            ul {
                list-style-type: none;
                margin: 1rem 0;

                li {
                    display: flex;
                    align-items: center;

                    a {
                        margin-left: 10px;
                    }
                }
            }

            div.social-handles {
                flex: 0;
                display: flex;
                flex-wrap: wrap;
                align-items: baseline;
                margin-top: .7rem;

                p {
                    word-break: keep-all;
                    flex: 1;

                    small {
                        font-size: .97rem;
                    }
                }

                ul {
                    display: flex;
                    margin: 0;
                }

                li {
                    margin-right: 1rem;

                    a {
                        background-color: #f99123;
                        border-radius: 12px;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        color: #fff;
                        margin-left: 0;
                        font-size: 1.5rem;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        .sec_1 {
            flex: 2.1;

            h1 {
                text-transform: uppercase;
                font-size: 2.5rem;
                margin-bottom: 1rem;
                font-family: 'Ubuntu', sans-serif;
                text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.6);
            }

            >small {
                font-size: .95rem;
            }
        }

        .sec_2 {
            display: flex;
            flex-direction: column;
        }

        @media screen and (max-width: 800px) {
            flex-direction: column;

            .sec_2 {
                margin-top: 2rem;
                flex-direction: row;
            }
        }

        @media screen and (max-width: 530px) {
            div.social-handles {
                flex-direction: column;

                p {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.extra-footer {
    padding: 1rem 1.3rem;
    background-color: #202020;
    color: #c3c3c3;

    a {
        text-decoration: underline;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    small {
        font-size: .95rem;
    }

    #backtotop {
        width: 45px;
        height: 45px;
        border: none;
        outline: none;
        background: #2c2c2c;
        position: fixed;
        bottom: 2rem;
        cursor: pointer;
        right: 2rem;
        border-radius: 10px;

        a {
            width: 100%;
            height: 100%;
            border-radius: inherit;
            display: grid;
            place-items: center;
            margin-top: -2px;
            font-size: 1.4rem;
        }
    }
}

.social_handles {
    // background-color: green;
    position: fixed;
    right: 0;
    height: 100%;
    z-index: 100;
    width: fit-content;
    display: grid;
    place-items: center;
    top: 0;

    ul {
        // background-color: rgba(17, 17, 17, 0.596);
        // background-color: #a9a9a96b;
        // border-radius: 15px 0 0 15px;
        display: grid;
        // padding: .4rem .2rem;
        // grid-gap: 1rem;
        // box-shadow: 0px 0px 10px #1122332b;
        list-style: none;

        li {

            // background-color: blue;
            a {
                height: 35px;
                color: black;
                width: 35px;
                margin: .5rem 0;
                display: grid;
                place-items: center;
                font-size: 1.6rem;
                // margin-right: .2rem;
                transition: border .4s ease;
                // border-radius: 50%;
                // filter: drop-shadow(0px 0px 2px);
            }
            a.fa-whatsapp {
                background-color: green;
                color: #fff;
            }
            a.fa-envelope {
                background-color: red;
                color: #fff;
            }
        }
    }
}